In [2]:
#q1
a, b = map(int, input("Enter two numbers: ").split())
print("Sum of the two user inputted numbers : ",(a+b))

Sum of the two user inputted numbers :  611

In [5]:
#q2
len,width=map(float,input("Enter the length and width of the rectangle : ").split())
print("Area of the rectangle : ",(len*width))

Area of the rectangle :  276.0

In [6]:
#q3
temp_c=float(input("Enter the temperature in celsius : "))
print("Temperature in fahrenheit : ",((temp_c*1.8)+32))

Temperature in fahrenheit :  208.4

In [8]:
#q4
p,r,t=map(float,input("Enter the principal amount, rate of interest and the number of years to be interested : ").split())
print("Simple Interest : ",((p*r*t)/100))

Simple Interest :  4050.0

In [11]:
#q5
num=int(input("Enter a number : "))
if(num>0):print(num," is positive")
elif(num<0):print(num," is negative")
else:print(num," is zero")

0  is zero

In [13]:
#q6
a,b=map(int,input("Enter two numbers : ").split())
print("Remainder obtained on performing ",a,"/",b," : ",(a%b))

Remainder obtained on performing  123 / 9  :  6

In [15]:
#q7
a,b=map(int,input("Enter two numbers : ").split())
print("Values before swapping \na : ",a,"\nb : ",b)
temp=a
a=b
b=temp
print("Values after swapping \na : ",a,"\nb : ",b)

Values before swapping
a :  21
b :  90
Values after swapping
a :  90
b :  21

In [17]:
#q8
num=int(input("Enter a number : "))
if(num%2==0):print(num," is even")
else:print(num," is odd")

172  is even

In [19]:
#q9
a,b,c=map(int,input("Enter three numbers : ").split())
print("Average of the 3 inputted numbers : ",((a+b+c)/3))

Average of the 3 inputted numbers :  949.0

In [20]:
#q10
a,b=map(int,input("Enter two numbers : ").split())
if(a>b):print(a," is greater than ",b)
elif(b>a):print(b," is greater than ",a)
else:print("Both are same")

245  is greater than  12

In [22]:
#q11
a=int(input("Enter a number : "))
print("Square of ",a," : ",(a**2))

Square of  12  :  144

In [26]:
#q12
from math import pi
a=float(input("Enter the radius of the circle : "))
print("Area of the circle : ",(pi*a**2))

Area of the circle :  452.3893421169302

In [43]:
#q13
c = input("Enter a character : ")[0]
print("ASCII value of ", c, " : ", ord(c))

ASCII value of  a  :  97

In [44]:
#q14
n = int(input("Enter a number : "))
for i in range(1, n + 1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#q15
n = int(input("Enter a number : "))
sum=0
for i in range(1, n + 1):
    sum+=i
print("Sum of first ",n," natural numbers : ",sum)

Sum of first  10  natural numbers :  55

In [ ]:
#q16
c = input("Enter a letter : ")[0]
if(c in 'aeiouAEIOU'):
    print(c," is a vowel")
else:
    print(c," is a consonant")

r  is a consonant

In [ ]:
#q17
n = int(input("Enter a number : "))
if(n%11==0 and n%5==0):
    print(n," is divisible by both 11 and 5")
else:
    print(n," is not divisible by both 11 and 5")

55  is divisible by both 11 and 5

In [3]:
#q18
y=int(input("Enter an year : "))
if (y % 400 == 0) or (y % 4 == 0 and y % 100 != 0):
   print(y,"is a leap year")
else:
    print(y,"is not a leap year")

2020 is a leap year

In [7]:
#q19
mark=float(input("Enter your mark"))
if(mark<=100 and mark>=90):
    grade='S'
elif(mark<=89 and mark>=85):
    grade='A+'
elif(mark<=84 and mark>=80):
    grade='A'
elif(mark<=79 and mark>=70):
    grade='B+'
elif(mark<=74 and mark>=70):
    grade='B'
elif(mark<=69 and mark>=60):
    grade='C'
elif(mark<=59 and mark>=50):
    grade='D'
elif(mark<=49 and mark>=40):
    grade='P'
else:
    grade='F'
print('marks=',mark,'\tgrade=',grade)

marks= 14.0 	grade= F

In [ ]:
#q20
n = input("Enter a character : ")[0]
if(n.isalpha()):
    print(n,"is a alphabet")
elif(n.isnumeric()):
    print(n,"is a number")

j is a alphabet

In [ ]:
#q21
import datetime

date = input("Enter date in DD-MM-YYYY: ")
day, month, year = map(int, date.split('-'))
date_dif = datetime.date(year, month, day)
print("Day of the week (1=Monday, 7=Sunday):", date_dif.isoweekday())

Day of the week (1=Monday, 7=Sunday): 6

In [ ]:
#q22
n = int(input("Enter a number : "))
for i in range(1,11):
    print(n,'*',i,' : ',n*i)

9 * 1  :  9
9 * 2  :  18
9 * 3  :  27
9 * 4  :  36
9 * 5  :  45
9 * 6  :  54
9 * 7  :  63
9 * 8  :  72
9 * 9  :  81
9 * 10  :  90

In [21]:
#q23
n = int(input("Enter a number : "))
for i in range(1, n + 1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#q24
n=input("Enter a string : ")
rev=""
for i in n:
    rev=i+rev
print("Original:",n,"\tReversed:",rev)

Original: player Reversed: reyalp

In [27]:
#q25
n=input("Enter a word")
lcase=n.lower()
ucase=n.upper()
print("Original: ",n,"\tUppercase: ",ucase,"\tLowercase: ",lcase)

Original:  KedwsnEnmF 	Uppercase:  KEDWSNENMF 	Lowercase:  kedwsnenmf

In [33]:
#q26
n=input("Enter a word")
c=0
for i in n:
    if(i in 'AEIOUaeiou'):
        c+=1
print("No. of vowels in the word '",n,"' : ",c)

No. of vowels in the word ' Manorama ' :  4

In [ ]:
#q27
n = list(map(int, input("Enter a list of numbers: ").split()))
print("List: ", n, "\tMax in list: ", max(n), "\tMin in list: ", min(n))

List:  [18, 9, 788, 127, 10] 	Max in list:  788 	Min in list:  9

In [39]:
#q28
n = list(map(int, input("Enter a list of numbers: ").split()))
print("List: ", n, "\tSum in list: ",sum(n),"\tAverage in list: ",sum(n)/len(n))

List:  [18, 9, 277, 187, 118, 8] 	Sum in list:  617 	Average in list:  102.83333333333333

In [42]:
#q29
n = list(map(int, input("Enter a list of numbers: ").split()))
m=n[::-1]
print("List: ",n,"\tReversed List: ",m)

List:  [18, 8, 9, 767, 65, 89] 	Reversed List:  [89, 65, 767, 9, 8, 18]

In [ ]:
#q30
n = int(input("Enter a number : "))
odd=even=0
for i in range(1,n+1):
    if(i%2==0):
        even+=i
    else:
        odd+=i
print("Sum of even no.s: ",even,"\tSum of odd no.s: ",odd)

Sum of even no.s:  110 	Sum of odd no.s:  100